@media only screen and (max-width: 1024px) {
	
}

@media only screen and (max-width: 980px) {
	
}

@media only screen and (max-width: 770px) {
  body{
    overflow-x: hidden;
  }
  .header{
    height: auto;
    &__text-m{
      position: relative;
    }
  }
  .popular-services__body__item img {
    margin-bottom: 20px;
  }
  .real-work__header p {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .real-work__header h2 {
      margin-bottom: 0;
  }
  .real-work__company__item{
    padding: 0 15px;
    box-sizing: border-box;
  }
  .best-offers__header h2, .best-offers__header h2:before {
    margin-bottom: 0;
  }
  .best-offers__wrapper {
    display: block;
    float: left;
    &__item{
      display: block;
      position: relative;
      margin: 0 auto;
      h4{
        padding-top: 20px;
      }
    }
  }
  .footer{
    height: auto;
  }
  .footer__absolute-top {
    display: none;
  }
  .popular-services__body__item {
    height: auto;
  }
  .footer__absolute{
    display: none;
  }
  .footer__header {
    width: 100%;
    float: left;
    text-align: center;
    margin-right: 0;
    top: 0;
  }
  .footer__header form {
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 736px) {
  .our-results__header p {
    float: left;
    width: 100%;
    margin-top: 0;
  }
  .our-results__body__item {
    width: 100%;
  }
  .free-audit__content__form {
    width: 100%;
    padding-left: 0;
  }
  .free-audit__content__form h1 {
    line-height: inherit;
    text-align: center;
    margin-top: 30px;
  }
  .free-audit__content__form p {
    margin-bottom: 20px;
  }
  .free-audit__content__form input {
    float: none;
    margin: 20px auto;
    padding-left: 25px;
  }
  .free-audit__content__form button {
    float: none;
    margin: 20px auto;
  }
  .free-audit {
    height: auto;
  }
  .free-audit__content__absolute__img {
    display: none;
  }
  .our-results__header h2 {
    margin-left: 0;
    line-height: inherit;
    font-size: 47px;
    margin-top: 70px;
    text-align: center;
  }
  .our-results__header h2:before {
    font-size: 57px;
    top: 0;
    left: -103px;
  }
  .popular-services__header {
    padding-top: 0;
  }
  .popular-services__header h2 {
    margin-left: 0;
    margin-top: 70px;
  }
  .popular-services__header h2:before {
    top: 0;
    font-size: 57px;
  }
  .popular-services__header p {
    color: #001121;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
  .popular-services__body__item {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    text-align: center;
  }
  .popular-services__body__item img {
    margin-bottom: 15px;
    float: none;
    text-align: center;
    display: inline-block;
  }
  .popular-services__body__item h3 {
    display: block;
    float: none;
  }
  .popular-services__body__item a {
    display: inline-block;
    float: none;
    text-align: center;
  }
  .real-work__header {
    padding-top: 0;
  }
  .real-work__header h2 {
    margin-left: 0;
    line-height: inherit;
    margin-top: 70px;
  }
  .real-work__header h2:before {
    top: 0;
  }
  .real-work__header p {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
  }
  .real-work__wrapper, .real-work__wrapper__portfolio {
    width: 100%;
    margin-top: 30px;
  }
  .real-work .owl-nav {
    display: none;
  }
  .real-work__company {
    display: block;
    width: 100%;
    float: left;
    &__item{
      width: 250px;
      margin: 20px auto;
    }
  }
  .best-offers__header {
    padding-top: 0;
  }
  .best-offers__header h2 {
    margin-left: 0;
    line-height: inherit;
    margin-top: 70px;
  }
  .best-offers__header h2:before {
    font-size: 61px;
    position: absolute;
    top: 0;
  }
  .best-offers__header p {
    margin-bottom: 0;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
  .best-offers__wrapper {
    display: block;
    width: 100%;
    float: left;
    &__item{
      margin: 20px auto;
      display: block;
      position: relative;
      h4{
        padding: 20px 0 ;
        display: block;
      }
    }
  }
  .footer__absolute-top {
    display: none;
  }
  .footer__absolute{
    display: none;
  }
  .footer__header {
    width: 100%;
    float: left;
    text-align: left;
    margin-right: 0;
    top: 0;
  }
  .footer {

    height: auto;
  }
  .footer__header span {
    line-height: inherit;
    bottom: 0;
    position: relative;
    font-size: 30px;
  }
  .footer__header h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: inherit;
  }
  .footer__header form {
    float: left;
    input{
      margin: 0 auto 20px auto;
      display: block;
    }
    button{
      display: block;
      margin: 0 auto 20px auto;
    }
  }
}

@media only screen and (max-width: 500px) {
	
}

@media only screen and (max-width: 320px) {

}