.header {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100vh;
  background: url("../img/header-bg.png") no-repeat center top;
  background-size: cover;
 @include breakpoint(max-width 770px){
   background: url("../img/mobile-header-bg.png") no-repeat center top;
   background-size: cover;

 }
  &__absolute-top {
    position: absolute;
    display: block;
    float: left;
    width: 250px;
    transition: .3s;
    left: 33%;
    top: 35%;
    img {
      width: 100%;
      object-fit: contain;
      transition: .3s;
    }
    @include breakpoint(max-width 770px){
      display: none;
    }
  }
  &__navigation {
    display: block;
    position: relative;
    float: right;
    ul {
      padding: 0;
      li {
        list-style: none;
        display: inline-block;
        a {
          color: #fff;
          display: inline-block;
          margin-left: 60px;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          transition: .2s;
          &:hover {
            color: #ff5038;
            transition: .2s;
          }
        }
        .menu {
          margin-left: 50px;
        }
      }
    }
  }
  &__absolute {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px;
    background: url("../img/cloud.png") repeat;
    background-size: cover;
    z-index: 5;
    @include breakpoint(max-width 770px){
      display: none;
    }
  }
  &__absolute2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px;
    background: url("../img/cloud2.png") repeat;
    background-size: cover;
    z-index: 4;
    @include breakpoint(max-width 770px){
      display: none;
    }
  }
  .menu-link {
    display: none;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
    position: fixed;
    right: 12px;
    z-index: 15;
    top: 30px;
    @include breakpoint(max-width 770px) {
      display: block;
    }
    span, span:before, span:after {
      display: block;
      height: 2px;
      width: 18px;
      background-color: #222;
      position: absolute;
      left: 50%;
      margin-left: -9px;
      top: 50%;
      margin-top: -1px;
    }
    span:before {
      transition: all 0.2s;
      margin-top: -6px;
      content: '';
    }
    span:after {
      transition: all 0.2s;
      margin-top: 4px;
      content: '';
    }
    &_active span {
      background-color: transparent;
      &:before {
        transform: rotate(135deg);
        margin-top: 0;
      }
      &:after {
        transform: rotate(-134deg);
        margin-top: 0;
      }
    }
  }
}