.best-offers {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: #f5f6f8;
  &__header {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding-top: 80px;
    h2 {
      margin-left: 100px;
      color: #001121;
      font-family: $bebasBold;
      font-size: 53px;
      display: block;
      font-weight: 400;
      float: left;
      line-height: 94px;
      &:before {
        content: 'лучшие наши';
        opacity: 0.22;
        margin-left: 100px;
        color: #001121;
        font-family: $bebasBold;
        font-size: 72px;
        font-weight: 400;
        line-height: 94px;
        position: absolute;
        top: 89px;
        left: -103px;
      }
    }
    p {
      color: #001121;
      font-size: 17px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 0;
      display: block;
      float: left;
      width: 689px;
      margin-top: 50px;
      margin-left: 25px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    &__item {
      text-align: center;
      width: 300px;
      display: block;
      position: relative;
      transition: .2s;
      &:hover {
        transition: .2s;
        box-shadow: 17px 22px 57px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #ffffff;
        transform: scale(1.03);
      }
      h4 {
        color: #001121;
        font-size: 20px;
        font-weight: 900;
        text-transform: uppercase;
      }
      img {
        width: 70px;
      }
      p {
        width: 188px;
        margin: 30px auto;
        color: #001121;
        font-size: 17px;
        font-weight: 400;
      }
      span {
        color: #001121;
        font-size: 20px;
        font-weight: 900;
        line-height: 32px;
        display: inline-block;
        margin-bottom: 30px;
      }
      button {
        width: 250px;
        height: 49px;
        border-radius: 24px;
        background-color: #ff5038;
        color: #ffffff;
        font-size: 15px;
        font-weight: 900;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        margin-bottom: 25px;
      }
    }
  }
  &__bottom-text {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    p {
      text-align: center;
      color: #001121;
      font-size: 17px;
      line-height: 22px;
      font-weight: 400;
      margin-top: 40px;
      span {
        font-weight: 700;
      }
    }
  }
}